
/* @media (width >= 1920px) {
    :root {
        --resolutionScale: .75;
    }
} */

.blueGuyContainer {
    position: absolute;
    top: calc(910px * var(--resolutionScale));
    left: calc(915px * var(--resolutionScale));

    .blueGuy {
        transition: transform .3s;

        .textContainerBlue {
            text-align: center;
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/
        }
        .blueText {
            position: absolute;
            top: calc(-24px * var(--resolutionScale));
            left: calc(70px * var(--resolutionScale));
        }
        .arrowContainerBlue {
            position: absolute;
            top: calc(-65px * var(--resolutionScale));
            left: calc(90px * var(--resolutionScale));
        }
    }
}
.blueGuyCharImg {
    height: calc(200px * var(--resolutionScale));
    width: calc(200px * var(--resolutionScale));
}

.blueGuy.blueGuy:hover {
    cursor: pointer;
    transform: scale(1.2);
}

