.blueGuyContainer{

    position: absolute;
    top: 827px;
    left: 882px;


    .blueGuy {

        transition: transform .3s;

        .textContainerBlue {
            text-align: center;
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/
        }

        .blueText {
            position: absolute;
            top: -24px;
            left: 82px;
        }

        .arrowContainerBlue {
            position: absolute;
            top: -65px;
            left: 104px;
        }

    }
    
}

.blueGuy.blueGuy:hover {
    cursor: pointer;
    transform: scale(1.2);
}

