.bonfire {
    position: absolute;
    top: calc(990px * var(--resolutionScale));
    left: calc(760px * var(--resolutionScale));
    height: calc(225px * var(--resolutionScale));
    width: calc(1000px * var(--resolutionScale));
}