.brownGuyContainer{

    position: absolute;
    top: 860px;
    left: 1550px;

    .brownGuy {

        transition: transform .3s;

        .textContainerBrown {
            text-align: center;
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/
        }

        .brownText {
            position: absolute;
            top: -28px;
            left: 74px;
        }

        .arrowContainerBrown {

            position: absolute;
            top: -72px;
            left: 80px;
        }

    }
    
}

.brownGuy.brownGuy:hover {
    cursor: pointer;
    transform: scale(1.2);
}