.brownGuyContainer{

    position: absolute;
    top: 860px;
    left: 1510px;
    background-color: red;

    .brownGuy {

        transition: transform .3s;

        .textContainerBrown {
            text-align: center;
            background-color: black;
            padding-right: 32px;
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/
        }

    }
    
}

.brownGuy.brownGuy:hover {
    cursor: pointer;
    transform: scale(1.1);
}