.absolute {
    position: absolute;
}

.chestContainer{
    position: absolute;
    top: 909px;
    left: 1318px;
    /*border-style: solid;
    border-color: red;
    border-width: 1px;*/

    .arrowContainerChest {
        position: absolute;
        top: -54px;
        left: 50px;
    }
}

.chestContainer {
    cursor: pointer;
}

.mantine-Modal-content {
    background: url("../assets/HWP_Inv_1920x1080_200_W_Divider.png") no-repeat;
    background-size: cover;
    height: calc(810px * var(--resolutionScale));
    width: calc(2300px * var(--resolutionScale));
}

.inv_slot {
    margin-top: 30px;
    cursor: pointer;

    height: calc(250px * var(--resolutionScale)) !important;
    width: calc(250px * var(--resolutionScale)) !important;
}

.inv_description_bg {
    width: calc(950px * var(--resolutionScale)) !important;
    height: calc(600px * var(--resolutionScale)) !important;
}

.inv_divider.inv_divider {
    margin-top: 37px;
    margin-left: 6px;
}
.portfolio-item-col {
    padding-left: calc(160px * var(--resolutionScale));
    padding-top: calc(85px * var(--resolutionScale));
}

.description_div {
    position: relative;
    width: calc(950px * var(--resolutionScale));
    height: calc(600px * var(--resolutionScale));
    color: gray;
    top: calc(100px * var(--resolutionScale));
    left: calc(100px * var(--resolutionScale));
    .project-icon-div {
        top: calc(75px * var(--resolutionScale));
        left: calc(75px * var(--resolutionScale));
        width: calc(145px * var(--resolutionScale));
        height: calc(145px * var(--resolutionScale));
        /* background-color: red; */
    }
    .project-title-div {
        top: calc(75px * var(--resolutionScale));
        left: calc(265px * var(--resolutionScale));
        width: calc(560px * var(--resolutionScale));
        height: calc(145px * var(--resolutionScale));
        /* background-color: red; */
        .title-text {
            font-size: calc(40px * var(--resolutionScale));
        }
    }
    .project-details-div {
        top: calc(265px * var(--resolutionScale));
        left: calc(75px * var(--resolutionScale));
        width: calc(750px * var(--resolutionScale));
        height: calc(275px * var(--resolutionScale));
        /* background-color: red; */
        .details-text{
            font-size: calc(35px * var(--resolutionScale));
        }
    }
}

.portfolio-item {
    height: calc(250px * var(--resolutionScale));
    width: calc(250px * var(--resolutionScale));
}
.slot-icon {
    height: calc(205px * var(--resolutionScale));
    width: calc(207px * var(--resolutionScale));
    bottom: calc(25px * var(--resolutionScale));
    left: calc(25px * var(--resolutionScale));
    cursor: pointer;
}
.gavlans-game-slot {
    position: relative;
}

.discord-slot {
    position: relative;
}

.game-slot {
    position: relative;
}