.absolute {
    position: absolute;
}

.chestContainer{
    position: absolute;
    top: 909px;
    left: 1318px;
    /*border-style: solid;
    border-color: red;
    border-width: 1px;*/

    .arrowContainerChest {
        position: absolute;
        top: -54px;
        left: 50px;
    }
}

.chestContainer{
    cursor: pointer;
}

.mantine-Modal-content{

    background: url("../assets/HWP_Inv_1920x1080_200_W_Divider.png") no-repeat;
    background-size: cover;
    height: 810px;
}

.inv_slot.inv_slot{
    
    margin-top: 30px;
    cursor: pointer;
}

.inv_description.inv_description {
    /* position: absolute;
    top: 100px;
    right: 100px; */

}

.inv_divider.inv_divider {
    margin-top: 37px;
    margin-left: 6px;
}
.portfolio-item-col {
    padding-left: 160px;
    padding-top: 85px;
}

.description_div.description_div {
    position: relative;
    width: calc(59.375rem* var(--mantine-scale));
    height: calc(37.5rem* var(--mantine-scale));
    color: red;
    top: 100px;
    left: 100px;
    .project-icon-div {
        top: 75px;
        left: 75px;
        width: 145px;
        height: 145px;
        /* background-color: red; */
    }
    .project-title-div {
        top: 75px;
        left: 265px;
        width: 560px;
        height: 145px;
        /* background-color: red; */
        .title-text {
            font-size: 40px;
        }
    }
    .project-details-div {
        top: 265px;
        left: 75px;
        width: 750px;
        height: 275px;
        /* background-color: red; */
        .details-text{
            font-size: 35px;
        }
    }
}

.gavlans-game-slot {
    position: relative;
    height: 250px;
    width: 250px;
    

    .gg-slot-icon {
        /* background-color: red; */
        height: 205px;
        width: 207px;
        bottom: 23px;
        left: 22px;
        cursor: pointer;
    }

}

.discord-slot {
    position: relative;
    height: 250px;
    width: 250px;

    .discord-slot-icon {
        /* background-color: red; */
        height: 205px;
        width: 207px;
        bottom: 23px;
        left: 22px;
        cursor: pointer;
    }

}

.game-slot {
    position: relative;
    height: 250px;
    width: 250px;

    .game-slot-icon {
        /* background-color: red; */
        height: 205px;
        width: 207px;
        bottom: 23px;
        left: 22px;
        cursor: pointer;
    }

}

/* @media (width <= 2550px) {
    .absolute {
        position: absolute;
        background-color:blue !important;
    }
} */