.greenGuy.greenGuy {
    position: absolute;
    top: 857px;
    left: 622px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    
}

.greenGuy.greenGuy:hover {
    cursor: pointer;
}