.greenGuyContainer{

    position: absolute;
    top: 857px;
    left: 622px;
    

    .greenGuy {

        transition: transform .3s;

        .textContainerGreen {
            text-align: center;
            
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/

            .greenText {
                    
                
                padding-left: 48px;
            }

            .arrowContainerGreen {

                display: flex;
                justify-content: center;
                padding-left: 45px;
                padding-bottom: 10px;
            }
            
        }

    }
    
}

.greenGuy.greenGuy:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.greenGuyContainer:hover {
    top: 825px;
}