.greenGuyContainer{

    position: absolute;
    top: 857px;
    left: 622px;
    

    .greenGuy {

        transition: transform .3s;

        .textContainerGreen {
            text-align: center;
            
            /*border-style: solid;
            border-color: red;
            border-width: 1px;*/

            .greenText {

                position: absolute;
                top: -27px;
                left: 109px;
            }

            .arrowContainerGreen {

                position: absolute;
                top: -68px;
                left: 119px;
            }
            
        }

    }
    
}

.greenGuy.greenGuy:hover {
    cursor: pointer;
    transform: scale(1.2);
}
