@media (width >= 2560px) {
    :root {
        --resolutionScale: 1;
    }
    .main-content-div {
        background-image: url("src/assets/background/HWP_Static_BG_2560x1440.png");
        width: 2560px;
        height: 1440px;
    }
}
@media (1920px <= width < 2560px) {
    :root {
        --resolutionScale: .75;
    }
    .main-content-div {
        background-image: url("src/assets/background/HWP_Static_BG_1920x1080.png");
        width: 1920px;
        height: 1080px;
    }
}
@media (1280px <= width < 1920px) {
    :root {
        --resolutionScale: .5;
    }
    .main-content-div {
        background-image: url("src/assets/background/HWP_Static_BG_1280x720.png");
        width: 1280px;
        height: 720px;
    }
}
@media (854px <= width < 1280px) {
    :root {
        --resolutionScale: .33;
    }
    .main-content-div {
        background-image: url("src/assets/background/HWP_Static_BG_854x480.png");
        width: 854px;
        height: 480px;
    }
}

h1, h2, h3 {
    line-height: 0%;
}
h1, h2 {
    color: #9EA8B3;
}
h1 {
    font-size: calc(110px * var(--resolutionScale));
}
h2 {
    font-size: calc(60px * var(--resolutionScale));
}
h3 {
    font-size: calc(22px * var(--resolutionScale));
    color: #ED5A70;
}

.main-content-div {
    position: relative;
}

.titleContainer {
    padding-top: 180px;

    .titleText {
        text-align: center;
        h1 {
            color: #9EA8B3;
        }
    }
    
    .chooseCharacter {
        text-align: center;
        h2 {
            color: #9EA8B3;
        }
    }
}

.main-page-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Resolutions to use
2560 x 1440

1920 x 1080

1280 x 720

854 x 480 */